doctype html
// todo design
html
    head
        title="Bibliothek"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link( rel="icon" href="/image/book.ico")
        script(src='/javascript/bootstrap.js')
    body
        .container-flex
            .d-flex.justify-content-around
                button.btn.btn-primary.btn-block.mt-4(onclick="window.location.href=('/login')") Login
                button.btn.btn-primary.btn-block.mt-4(onclick="window.location.href=('/register')") Registrieren
            block content