extends ../head

block body
    body
        .container-fluid
            h1 Passwort Wiederherstellung anfordern:
            p Sollte der E-Mail ein Konto zugeschrieben sein, werden Sie ein E-Mail mit weiteren Wiederherstellungsinformationen erhalten.
            form(method="post" action="/api/user/request")
                label(for="mail") E-Mail Adresse eingeben:
                input.form-control#mail(type="email" name="email")
                button.btn.btn-primary(type="submit") Anfragen