extends ../head

block body
    body
        .container.mt-4
            //- Pills navs
            ul.nav.nav-pills.nav-justified.mb-3
                li.nav-item
                    a.nav-link.active(href="") Login
                li.nav-item
                    a.nav-link(href="/register") Register

            .row
                form(method="post" action="/api/user/verify")
                    .text-center.mb-3
                        p Anmeldung:

                    //- Email input
                    .form-outline.mb-4
                        input.form-control#email(type="email" name="email" placeholder="E-Mail Adresse" autofocus required)
                        label.form-label(for="email") Email

                    //- Password input
                    .form-outline.mb-4
                        input#password.form-control(type="password" name="password" placeholder="Passwort" required)
                        label.form-label(for="password") Passwort

                    .row.mb-4
                        .col-md-12.d-flex.justify-content-center
                            a(href="/forgotten") Passwort vergessen

                    //- Submit button
                    .d-grid.text-center.mb-3
                        button.btn.btn-primary.btn-block.mb-4(type="submit") Anmelden
                        p.mt-5.mb-3 #{error}