extends auth_layout

block content
    form.form-signin.mt-5(method="post" action="/user/verify")
        h1.h3.mb-3.font-weight-normal Login
        label.sr-only(for="email") Email
        input.form-control(placeholder="Email address" autofocus type="email" id="email" name="email")
        label.sr-only(for="password") Passwort
        input.form-control(placeholder="Password" required type="password" id="password" name="password")
        p.mt-5.mb-3 #{error}
        //.checkbox.mb-3
            label
                input( type="checkbox" value="remember-me")
        input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Login")
        //- todo add forgotten password
        a(href="/forgotten") Passwort vergessen?
