doctype html
html
    head
        title="Bibliothek"
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link( rel="icon" href="/image/book.ico")
        script(src='/javascript/bootstrap.js')
    body
        .container.mt-4
            //- Pills navs
            ul.nav.nav-pills.nav-justified.mb-3
                li.nav-item
                    a.nav-link(href="/login") Login
                li.nav-item
                    a.nav-link.active(href="") Register

            .row
                form(method="post" action="/api/user/add")
                    .text-center.mb-3
                        p Registrierung:

                    .form-outline.mb-4
                        select.form-select(name="anrede")
                            option(value="Herr") Herr
                            option(value="Frau") Frau
                            option(value="") Andere/Keine Angabe

                    //- Username input
                    .form-outline.mb-4.row
                        .col-6
                            input.form-control#firstname(type="text" name="firstname" placeholder="Vorname" required)
                            label.form-label(for="firstname") Vorname
                        .col-6
                            input.form-control#lastname(type="text" name="lastname" placeholder="Nachname" required)
                            label.form-label(for="lastname") Nachname

                    //- Email input
                    .form-outline.mb-4
                        input.form-control#email(type="email" name="email" placeholder="E-Mail Adresse" required)
                        label.form-label(for="email") Email

                    //- Password input
                    .form-outline.mb-4
                        input.form-control#password(type="password" name="password" required)
                        label.form-label(for="password") Passwort

                    //- Repeat Password input
                    .form-outline.mb-4
                        input.form-control#password2(type="password" name="password2" required)
                        label.form-label(for="password2") Passwort wiederholen

                    //- Submit button
                    .d-grid.text-center.mb-3
                        button.btn.btn-primary.btn-block.mb-3(type="submit") Registrieren
                        p.mt-5.mb-3 #{error}