extends layout

block content
    .row.mt-5
        .col-10
            input.form-control(placeholder="search" type="text" id="search")
        .col-2
            button.btn.btn-primary(id="search_btn") Search
    script(src='/javascripts/liste.js')
