extends ../layout

block content
    h1 Ich
    .row
        .col-lg-2.col-md-4.d-none.d-md-block
            nav.nav.flex-column
                a#ich_ich.nav-link(href="/ich") Ausgeliehen
                a#ich_history.nav-link(href="/ich/history") Vergangenheit
                a#ich_settings.nav-link(href="/ich/settings") Einstellungen
                if(role==='admin'||role==='worker')
                    a#ich_returns.nav-link(href="/ich/returns") Rückgaben
                    if role==='admin'
                        a#ich_admin.nav-link(href="/admin") Objekte
                        a#ich_user.nav-link(href="/admin/user") Nutzer
                        a#ich_duplicate.nav-link(href="/admin/duplicate") Duplikat
        .col-sm-12.d-block.d-sm-block.d-md-none
            select.form-select.mb-2#option_select
                option#op_ich(value="/ich" selected) Ausgeliehen
                option#op_history(value="/ich/history") Vergangenheit
                option#op_settings(value="/ich/settings") Einstellungen
                if(role==='admin'||role==='worker')
                    option#op_returns(value="/ich/returns") Rückgaben
                    if role === 'admin'
                        option#op_admin(value="/admin") Objekte
                        option#op_user(value="/admin/user") Nutzer
                        option#op_duplicate(value="/admin/duplicate") Duplikat
        .col-lg-10.col-md-8.col-sm-12
            .container
                if render==='lend'
                    include ich/ausgeliehen
                    +ausgeliehen(books)
                else if render==='history'
                    include ich/history
                    +history(books)
                else if render==='settings'
                    include ich/settings
                    +settings(ich)
                else if render==='user'
                    include ich/admin/user
                    +user(data)
                else if render==='object'
                    include ich/admin/objects
                    +objects(books)
                else if render==='new'
                    include ich/admin/new_object
                    +new_object
                else if render==='edit'
                    include ich/admin/edit_object
                    +edit_object(book)
                else if render==='return'
                    include ich/admin/return
                    +return(returns)
                else if render==='duplicate'
                    include ich/admin/duplicate
                    +duplicate
                else
                    .row
                        h3 Die Seite wurde nicht gefunden
    script(src="/javascript/ich.js")
