extends ../layout
include ../components/ich/ausgeliehen
include ../components/ich/history
include ../components/ich/settings
include ../components/ich/admin/objects
include ../components/ich/admin/new_object
include ../components/ich/admin/edit_object
include ../components/ich/admin/return

block content
    h1 Ich
    .row
        .col-lg-2.col-md-4.d-none.d-md-block
            nav.nav.flex-column
                a#ich_ich.nav-link(href="/ich") Ausgeliehen
                a#ich_history.nav-link(href="/ich/history") Vergangenheit
                a#ich_settings.nav-link(href="/ich/settings") Einstellungen
                if(role==='admin'||role==='worker')
                    a#ich_returns.nav-link(href="/ich/returns") Rückgaben
                    if role==='admin'
                        a#ich_admin.nav-link(href="/admin") Objekte
                        a#ich_user.nav-link(href="/admin/user") Nutzer
                            //todo nutzer for admin
        .col-sm-12.d-block.d-sm-block.d-md-none
            select.form-select.mb-2#option_select
                option#op_ich(value="/ich" selected) Ausgeliehen
                option#op_history(value="/ich/history") Vergangenheit
                option#op_settings(value="/ich/settings") Einstellungen
                if(role==='admin'||role==='worker')
                    option#op_returns(value="/ich/returns") Rückgaben
                    if role === 'admin'
                        option#op_admin(value="/admin") Objekte
                        option#op_user(value="/admin/user") Nutzer
        .col-lg-10.col-md-8.col-sm-12
            if render==='lend'
                +ausgeliehen(books)
            else if render==='history'
                +history(books)
            else if render==='settings'
                +settings(ich)
            else if render==='user'
            else if render==='object'
                +objects(books)
            else if render==='new'
                +new_object
            else if render==='edit'
                +edit_object(book)
            else if render==='return'
                +return(returns)
    script(src="/javascript/ich.js")
