extends ../layout
include ../components/ich/ausgeliehen
include ../components/ich/history
include ../components/ich/settings
include ../components/ich/admin/objects
include ../components/ich/admin/new_object
include ../components/ich/admin/edit_object

block content
    h1 Ich
    .row
        .col-2
            nav.nav.flex-column
                a#ich_ich.nav-link(href="/ich") Ausgeliehen
                a#ich_history.nav-link(href="/ich/history") Vergangenheit
                a#ich_settings.nav-link(href="/ich/settings") Einstellungen
                    //todo settings
                if(role==='admin'||role==='worker')
                    a#ich_returns.nav-link(href="/returns") Rückgaben
                        //todo rückgaben for worker
                    if role==='admin'
                        a#ich_admin.nav-link(href="/admin") Objekte
                        a#ich_user.nav-link(href="/admin/user") Nutzer
                            //todo nutzer for admin
        .col-10
            if render==='lend'
                +ausgeliehen(books)
            else if render==='history'
                +history(books)
            else if render==='settings'
                +settings(user)
            else if render==='user'
            else if render==='object'
                +objects(books)
            else if render==='new'
                +new_object
            else if render==='edit'
                +edit_object(book)
            else if render==='return'
    script(src="/javascripts/ich.js")
