extends ../layout
include ../components/book_list

block content
    h1 Home
    p Willkommen zurück #{name}
    h2.mt-5 Bücher der Woche
    .row.mt-2
        //todo books with similar keywords as books the user read
        +book_list(books)