mixin settings(user)
    h3 Einstellungen
    .row
        form(method="post" action="/api/user/update")
            h4 Profil:
                .row
                    .col-6
                        span Anrede:
                        br
                        span Name:
                        br
                        span Vorname:
                    .col-6
                        span #{user.salutation}
                        br
                        input(value=user.lastName type="text" name="last_name")
                        br
                        input(value=user.firstName type="text" name="fist_name")
            hr.hr.mt-1
            h4 Authentifizierung:        form()
            .row.mb-1
                .col-6
                    span E-Mail:
                    br
                    span Passwort:
                .col-6
                    span #{user.email}
                    br
                    input(type="text" name="passwd")
            button.btn.btn-outline-dark#authentication(type="submit") Ändern
