mixin new_object
    .row
        h3 Neues Objekt
        form(action='/api/admin', method="post")
            label.mt-1(for="title") Title
            input.form-control(type="text" name="title" required)
            label.mt-1(for="author") Autor
            input.form-control(type="text" name="author")
            label.mt-1(for="publisher") Verlag
            input.form-control(type="text" name="publisher")
            label.mt-1(for="isbn") ISBN
                //- todo implement barcode reader
            input.form-control(type="text" name="isbn")
            label.mt-1(for="keywords") Schlüsselbegriffe
                span
                    small    (Begriffe separatist mit ",")
            input.form-control(type="text" name="keywords")
            label.mt-1(for="type") Typ des Medium
            select.form-control(name="type" required)
                option(value="Buch") Buch
                option(value="Zeitschrift") Zeitschrift
                option(value="CD") CD
                option(value="Kassette") Kassette
                option(value="DVD") DVD
                option(value="E-Book") E-Book
                option(value="E-Paper") E-Paper
                option(value="E-Audio") E-Audio
                option(value="E-Video") E-Video
            label.mt-1(for="year") Erscheinungsjahr
            input.form-control(type="number" name="year" min="1000" value="2000")
            label.mt-1(for="page") Seitenzahl
            input.form-control(type="number" name="page" value="0")
            label.mt-1(for="blurb") Klappentext
            textarea.form-control(name="blurb")
            //- label.mt-1(for="small_desc") Kurzbeschreibung
            //- textarea.form-control(name="small_desc")
            label.mt-1(for="img") Titelbild
            img.mb-1.img-fluid.img-thumbnail.rounded.form-control(id="image" src="" alt="noch kein Bild" style="height:45vh; width: auto")
            input(type="text" name="img_base64" style="display:none")
            input.form-control(type="file" id="img" accept="image/*")
            label.mt-1(for="img_desc") Beschreibung Titelbild
            input.form-control(type="text" name="img_desc")
            label.mt-1(for="read" style="display: none") Medium
            input.form-control(type="file" id="read" style="display: none")
            input(type="text" name="read_base64" style="display:none")
            label.mt-1(for="position") Standort
            input.form-control(type="text" name="position")
            button.form-control.btn.btn-primary.mt-2(type="submit") Objekt hinzufügen

        script(src="/javascript/new_object.js")